html, body {
	width: 100%;
	height: 100%;
	background: #f7f6f1;
}

body > .container {
	height: 100%;
	background: url(../images/home-bottom-background.jpg) no-repeat;
	background-position: bottom center;
	background-size: contain;
	max-width: 970px;
	padding: 0;
}

header {
	background: url(../images/header-background.png) no-repeat;
	background-position: top center;
	background-size: contain;
	height: 164px;
	position: relative;
	height: 25%;
}

header ul.menu {
	list-style: none;
	padding: 0;
	margin: 5px 0 0;
	position: absolute;
	right: 0;
}

header ul.menu li {
	float: left;
}

header .menu a {
	font-family: 'Dawning of a New Day', cursive;
	color: #e76c3c;
	font-size: 26px;
	margin-left: 40px;
	text-decoration: none;
}

header .menu a:hover {
	border-bottom: 2px solid #e76c3c;
}

header .menu a.active {
	color: #000000;
	border-bottom: 2px solid #000000;
}

section#home {
	height: 75%;
	position: relative;
}

.welcomeMessage {
	text-align: center;
}

.welcomeMessage p {
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	color: #be5b1f;
	font-size: 26px;
	background: rgba(247, 246, 241, 0.9);
	text-align: center;
	padding: 20px;
	border-radius: 14px;
}

.internalSection {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(247, 246, 241, 0.9);
}

.internalSection.comoLlegar h3 {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 30px;
	color: #5a5756;
	width: 80%;
	margin: 20px auto;
}

.internalSection.comoLlegar .addresses {
	width: 80%;
	margin: 40px auto 0 auto;
}

.internalSection.comoLlegar .addresses p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #231f20;
}

.internalSection.comoLlegar .addresses p a {
	color: #231f20;
}

.internalSection.comoLlegar .mapGraphic {
	max-width: 40%;
	margin: 40px auto 0 auto;
}

#partyIndicactions .moreInfo a {
	color: #e76c3c;
}

.internalSection.tips {
	background: none;
}

.internalSection.regalo .gift {
	font-family: 'Dawning of a New Day', cursive;
	position: absolute;
	right: 0;
	top: 25%;
	width: 50%;
}

.internalSection.regalo .gift p {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 40px;
	line-height: 42px;
	color: #aaa4a2;
}

.internalSection.regalo .gift ul.giftMethods {
	padding: 0;
	list-style: none;
}

.internalSection.regalo .gift ul.giftMethods li {
	margin-top: 20px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) 
{
	body > .container {
		background: url(../images/home-bottom-background-mobile.jpg) no-repeat;
		background-position: bottom center;
		background-size: contain;
	}
	
	header {
		height: auto;
		background: none;
	}
	
	header ul.menu {
		margin: 0;
		position: static;
	}
	
	header ul.menu li {
		width: 25%;
		text-align: center;
	}
	
	header .menu a {
		margin: 0;
		font-size: 18px;
	}
	
	.welcomeMessage p {
		font-size: 22px;
	}
}